.skills {
    .searchContainer {
        display: flex;
        flex-direction: row;
        padding: 1rem 2rem 0 2rem;

        .searchLabel {
            font-size: 0.8rem;
            margin-right: 0.5rem;
            padding-top: 0.5rem;
        }

        input {
            background-color: #d0d0d0;
            padding: 0.5rem;
        }
        button {
            margin-top: 0.25rem;
            border: none;
            height:1.5rem;
            width: 1.5rem;
            cursor: pointer;
            border-radius: 100%;
            margin-left: 0.25rem;
            background-color: #808080;
            color: #d0d0d0;
        }
    }

    .skillTable {
        padding: 2rem;
        display: inline-flex;

        table {
        margin-left: 1rem;
        font-size: 0.8rem;
        thead {
            cursor: pointer;
            tr {
                background-color: #404040;
                color: white;
                td {
                    text-transform: uppercase;
                    padding: 0.25rem 2rem 0.25rem 0.5rem;
                    width: 4rem;
                }
                td:first-child {
                    width: 10rem;
                }
            }
        }
        tbody {
            tr {
                background-color: #d0d0d0;
                td {
                    padding: 0.25rem 2rem 0.25rem 0.5rem
                }
            }
        }
    }
        }
}