.skilltree
{
    padding: 1rem;
    display: inline-flex;
    .tree {
        width: 240px;
    }
    .forceGraph {
        margin-left: 3rem;
        background-color: #f0f0f0;
    }
    .tree {
        padding-left: 2rem;
        .node {
            display: inline-flex;
            .node-name {
                width: 1rem;
            }
        }
    }
}