.skilltree
{   margin-top: 1rem;
    display: inline-flex;
    .data-tree {
        padding: 0 1rem;
        .description {
            padding: 0 1rem 1rem 1rem;
            font-size: 0.8rem;
            color: #606060;
        }
        .tree {

            padding-left: 1rem;
            .node {
                display: inline-flex;
                .node-name {
                    width: 1rem;
                }
            }
        }
        width: 240px;
    }

}